footer {
    background: #ffffff;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #efefef;
    box-shadow: 0 100vh 0 100vh #ffffff;
    .comment {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 0;
    }
    .support {
        font-weight: 300;
        font-size: 0.8rem;
        color: $secondary;
        margin: 0.5rem 0;
    }
    .links {
        font-weight: 300;
        font-size: 0.9rem;
        color: $secondary;
        margin: 0;
    }
}
